.question{
    font-weight: 500;
    font-size: 1.5rem;
    display: block;
}
.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    width: fit-content;
    border-radius: 20px;
    padding: 1rem;
    gap: 2rem;
    
}
button{
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid;

}
button:hover{
    border: 1px solid #a8a8a8;
}
input[type=text]{
    border: 0px;
    padding:5px
}
input[type=text]:focus{
    border:0px
}
